<html>

<head>
    <link rel="icon" href="/images.png">
    <title>IO Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <style>
        body {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label>INTERNAL SERVER ERROR</label><br />
                <a href="/socket/start" target="_blank">Open page in new window</a>
            </div>
        </div>
    </div>
</body>

</html>